.frame {
  margin: 0rem auto;
  /* max-width: 1280px; */
  text-align: center;
}
.button_frame {
  margin: 3rem auto;
}

.button_frame .link {
  text-decoration: none;
  color: black;
  font-weight: bold;
  flex-direction: column;
  margin: 0.5rem;
  padding: 1rem 1.5rem;
  background-color: #655f5f2a;
  box-shadow: 0 0 8px rgba(24, 24, 24, 0.1);
  border-radius: 5px;
  cursor: pointer;
}
