.todo {
  margin: 1rem 0;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  background-color: #fafafa;
  width: 40rem;
  display: grid;
}

.todo input {
  font: inherit;
  font-size: 1rem;
  /* padding: 0.5rem; */
  border-radius: 4px;
  background-color: #fafafa;
  border: none;
  border-bottom: 1px solid #494844;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  margin-bottom: 0.5rem;
}

.todo button {
  font: inherit;
  background-color: #2564cf;
  border: 1px solid #2564cf;
  color: #ffff;
  text-align: end;
  /* padding: 0.5rem 1.5rem; */
  border-radius: 4px;
  margin: 0.5rem;
  cursor: pointer;
}

.todo button:hover,
.todo button:active {
  background-color: #2564cf;
  border-color: #2564cf;
}
